* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-brand-primary: #1d99ff;
  --color-brand-secondary: #ff455b;
  
  --color-feedback-error: #f1526e;
  --color-feedback-info: #3da4f3;
  --color-feedback-success: #00c689;
  --color-feedback-warning: #fdbf35;

  --color-text-dark: #708aa1;
  --color-text-light: #aebdc9;
  
  --color-interface-light: #f1f4f6;
  --color-interface-dark: #d5e0ec;
  
  --color-common-light: #ffffff;
  --color-common-dark: #000000;

  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing-default: 16px;
  --spacing-medium: 24px;
  --spacing-large: 32px;
  --spacing-xlarge: 40px;

}

body {
  font-family: 'Open Sans', Arial, Helvetica, 'Ubuntu', sans-serif;
  font-size: 16px;
  background-color: var(--color-interface-light);
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
}

.header-item {
  display: flex;
  justify-content: space-between;
}
/* header > div.container {
  display: flex;
  justify-content: space-between;
} */

.button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.title {
  line-height: 1.5;
  letter-spacing: -1px;
  font-weight: 300;
  font-size: 3em;
  color: var(--color-text-light);
}

.subtitle {
  line-height: 1.2;
  font-weight: 700;
  font-size: 1.5em;
  color: var(--color-brand-primary);
}

.container {
  margin-bottom: var(--spacing-medium);
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.form-task {
  margin-top: var(--spacing-large);
}

.form-task-label {
  display: block;
  font-size: 1em;
  font-weight: 500;
  color: var(--color-text-dark);
}

.form-group, .tasks-container {
  display: flex;
  justify-content: space-between;
}

.form-task-input {
  width: 70%;
  padding-left: 5vw
  font-size: 1em
}

.form-task-button {
  background-color: var(--color-brand-secondary)
  border: none;
  width: 10%;
  border-radius: 10%;
}

.add-button {
  color: var(--color-common-light);
  font-size: 2em;
}

.checkbox-group {
  width: 100%;
  background-color: var(--color-common-light);
  border-radius: 0 3vw 0 0;
  height: 80vh
}

.task-added {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-default);
  border-bottom: 1px solid var(--color-interface-dark);
  margin: 3vh auto;
  width: 90%;
  background-color: var(--color-common-light);
  border-radius: 3vw;
}

.task-done {
  color: var(--color-common-dark)
  text-decoration: line-through;
  font-size: 1em;
  font-weight: 600;
  display: inline-block;
  width: 80%;
  margin-left: 2vw;
}

.task-done:hover {
  color: var(--color-brand-secondary);
  cursor: pointer;
}

.task-done:hover .task-icons {
  color: var(--color-brand-secondary);
  cursor: pointer;
}

.task-icons {
  display: flex;
  justify-content: space-between;
  width: 10%;
}
